<h1>Editar Automóvel</h1>

<div class="well">
    <div class="alert alert-danger" role="alert" *ngIf="msgErro">
        {{ msgErro }}
    </div>
    <form role="form">
        <div class="form-group">
            <label class="control-label" for="modelo">Modelo</label>
            <input type="text" class="form-control" name="modelo" 
                id="modelo" [(ngModel)]="automovel.modelo" required>
        </div>
        <div class="form-group">
            <label class="control-label" for="marca">Marca</label>
            <input type="text" class="form-control" name="marca" 
                id="marca" [(ngModel)]="automovel.marca" required>
        </div>
        <div class="form-group">
            <label class="control-label" for="fabricante">Fabricante</label>
            <input type="text" class="form-control" name="fabricante" 
                id="fabricante" [(ngModel)]="automovel.fabricante" required>
        </div>
        <div class="form-group text-center">
            <button class="btn btn-success" (click)="atualizar()">
                Atualizar
            </button>
			<a class="btn btn-default" [routerLink]="['/automovel-listar']">
                Voltar
            </a>
        </div>
    </form>
</div>